/* navbar */
.navbar-default{
	border: 0;
	background-color: #F5F5F5; 
}

.navbar-brand{
	display: block;
	height: auto;
	padding-bottom: 0;
}
.navbar-default .navbar-nav{
	margin-top: 96px;
}
.navbar-link{
	color:#d2322d !important;
}
/* jumbotron */
.jumbotron{
	background-color: #FFF;
	padding-top: 0; 
	margin-bottom: 0;
}
.jumbotron h2{
	font-family: Helvetica;
	margin-bottom: 20px;
}
/* projects navbar */
.navbar-projects{
	border-radius: 0;
	background-color: #418BCB; 
}
.navbar-projects .navbar-header{
	padding: 20px 30px 20px 8%;
	color: #285e8e;
}
.navbar-projects .nav li{
	padding: 20px 10px;
	border-right: #285e8e solid 1px;
}
.navbar-projects .nav li a:hover{
	color: #fff;
	background-color: transparent;
}
.navbar-projects .navbar-nav li a{
	color: #285e8e;
};